
<main class="main-wrap">
    <div class="content-wrapper">
      {% assign media = {{include.pages}} %}
      {% for element in media %}
      {% if element.media_type == 'image' %}
        <div class="container">
            <img src="{% if element._path contains 'assets' %} {{ site.baseurl }}{{ element._path }} {% else %} {{ element._path }} {% endif %}" class="page_image">
            <div>
                <div class="description-wrapper">
                  <p>Title: {{ element._title }}<br>
                  Creator: {{ element.creator }}<br>
                  Date: {{ element._date }}</p>
                  <a href="{{ site.baseurl }}{{ element.url }}"><button class="description_btn">Detailed description</button></a>
                </div>
            </div>
        </div>
      {% else %}
      <div class="container">
        <iframe
        src="{% if element._path contains 'assets' %} {{ site.baseurl }}{{ element._path }} {% else %} {{ element._path }} {% endif %}" class="page_image"></iframe>
        <div>
            <div class="description-wrapper">
              <p>Title: {{ element._title }}<br>
              Creator: {{ element.creator }}<br>
              Date: {{ element._date }}</p>
              <a href="{{ site.baseurl }}{{ element.url }}"><button class="description_btn">Detailed description</button></a>
            </div>
        </div>
    </div>
      {% endif %}
      {% endfor %}
    </div>
</main>